:root {
  --primary: #FFBF00;
}

.pagination{

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;

    border-radius: 0.6rem;
    background: #ffffff;

    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);

    margin-top: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
}

.page-item.active .page-link{

    color: white!important;
    background: var(--primary)!important;
    border-color: var(--primary)!important;
}

.page-link {

    color: var(--primary)!important;
}
