.container{

    margin-top:5%;
}

.welcome-message{

    margin-top: 5%;
    text-align: center;
}

.post{

    margin-left: 5%;
    margin-right: 5%;
    border-style: solid;
    border-color: #4d4d4d;

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    text-align: center;
}

.post-title__container{

    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border: #4d4d4d;
    margin-left: 15%!important;
    margin-right: 15%!important;
    background: #ffffff!important;
}

.post-title{

}

.post-title__link{

    color: #4d4d4d;
    text-decoration: none;
}

.post-title__link:hover{

    color: #FFBF00;
    text-decoration: none;
}

.post-information__container{

    
    margin-top: 5%;
    margin-bottom: 5%;
}
