{% load static %}
{% block style %}
<link href="{% static "blog/css/pagination.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

<div class="pagination">
    <span class="page-links">
        {% if page.has_previous %}
            <a href="?page={{ page.previous_page_number }}">Previous</a>
        {% endif %}


        <ul class="pages">

            {% for index in page.paginator.page_range%}

                {% if index == page.number %}
                    <li class="list-item page-numbers current-page">{{ index }}</li>
                {% else %}
                    <li class="list-item page-numbers">{{ index }}</li>
                {% endif%}
            {% endfor %}
        </ul>

        {% if page.has_next %}
            <a href="?page={{ page.next_page_number }}">Next</a>
        {% endif %}
    </span>
</div>