{% extends "blog/base.html" %}
{% load static %}
{% block title %}My Blog{% endblock %}

{% block style %}
<link href="{% static "blog/css/posts.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
  <h1>My Blog</h1>
  {% for post in posts %}
      <div class="container post">

      <div class="post-title__container">
        <h2 class="post-title">
          <a href="{{ post.get_absolute_url }}" class="anchor-link post-title__link">
            {{ post.title }}
          </a>
        </h2>
      </div>

      <div class="post-information__container">
        <p class="date">
          Published {{ post.publish }} by {{ post.author }}
        </p>
        {{ post.body|truncatewords:30|linebreaks }}
      </div>
      </div>
  {% endfor %}
    {% include "blog/pagination.html" with page=posts %}
{% endblock %}